/* ---- RESET/BASIC STYLING ---- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

.board {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color:#a8b0b6;
    background-position: center;
    background-size: cover;
}

/* ---- FORM ---- */
#todo-form {
    padding: 32px 32px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

#todo-form input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: white;
    font-size: 14px;
    outline: none;
}

#todo-form button {
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#lixeira {
    width: 85px;
    height: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #fffcfc;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

#lixeira.hover {
    background: #ff0303;
}

/* ---- BOARD ---- */
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    padding: 24px 32px;
    overflow: scroll;
    height: 100%;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
    flex-shrink: 0;
}

.task {
    background-color:#a8b0b6;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: move;
}

.is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: rgb(233, 233, 233);
}
